./mgrweb/.DS_Store
*node_modules/
*dist/
.vscode/
./mgrweb/dist/
./mgrweb/npm-debug.log*
./mgrweb/yarn-debug.log*
./mgrweb/yarn-error.log*

./lgweb/dist/
./lgweb/npm-debug.log*
./lgweb/yarn-debug.log*
./lgweb/yarn-error.log*
.
# Editor directories and files
./mgrweb/.idea
./mgrweb/.vscode
./mgrweb/*.suo
./mgrweb/*.ntvs*
./mgrweb/*.njsproj
./mgrweb/*.sln

./lgweb/.idea
./lgweb/.vscode
./lgweb/*.suo
./lgweb/*.ntvs*
./lgweb/*.njsproj
./lgweb/*.sln

logs/
conf/

./mgrapi/static/
./lgapi/static/

apiserver/apiserver
mgrapi/mgrapi
mgrweb/mgrweb
lgapi/lgapi
lgweb/lgweb

out/