!*.go
*node_modules/
*dist/
.vscode/
logs/
conf/
conf/logger.json
/loginserver/loginserver
/mgrserver/mgrserver
*/bin/
out/

/loginserver/static.go
/loginserver/web.go

/mgrserver/static.go
/mgrserver/web.go
